<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div>
    {{ activity.content | safe}}
</div>

{% for building in buildings %}

    <div>
        <div>{{ building.title }}</div>
        <div>
            {{ building.description }}
        </div>
        <div>
            <a href="{% url 'polls:option' building.id %}">
                <img src="{{ building.avator.url }}" alt="cover_img" style="width: 100%">
            </a>
        </div>
        <div>
            {{ building.abstract }}
        </div>
        <div>
            共{{ building.option_count }}份投稿
        </div>
    </div>

{% endfor %}


</body>
</html>