<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div>
    activity content detail
</div>

<div>
    <div>title</div>
    <div>
        description description description
    </div>
    <div>
        <img src="" alt="cover_img">
    </div>
    <div>
        abstract abstract abstract abstract
    </div>
    <div>
        共13份投稿
    </div>
</div>

</body>
</html>