<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ building.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
{#    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>#}
    <script src="/static/materialize/js/materialize.js"></script>
{#    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">#}
    <link href="/static/materialize/css/materialize.css" rel="stylesheet">
    <link href="/static/materialize/css/icon.css" rel="stylesheet">
    <link href="/static/materialize/css/style.css" rel="stylesheet">
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();
{#            $('.collapsible').collapsible();#}
        });
{#        $(window).load(function () {#}
{#            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {#}
{#                WeixinJSBridge.call('hideToolbar');#}
{#            });#}
{#            WeixinJSBridge.call('hideOptionMenu');#}
{#        });#}
    </script>
</head>
{#<body style="margin: 0; background-color: beige;">#}
<body style="margin: 0;">

  <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">
          <img src="/static/img/sort.png" style="height:24px;width:24px;">
      </i>
    </a>
    <ul>
{#      <li><a class="btn-floating red" href="{% url 'polls:sort_by_time' building.id %}"><i class="material-icons">query_builder</i></a></li>#}
{#      <li><a class="btn-floating yellow darken-1" href="{% url 'polls:sort_by_heat' building.id %}"><i class="material-icons">assessment</i></a></li>#}
        <li><a class="btn-floating red" href="{% url 'polls:sort_by_time' building.id %}"><i class="material-icons"><img src="/static/img/time.png" style="height:22px;width:22px;"></i></a></li>
      <li><a class="btn-floating yellow darken-1" href="{% url 'polls:sort_by_heat' building.id %}"><i class="material-icons"><img src="/static/img/ranking.png" style="height:22px;width:22px;"></i></a></li>
    </ul>
  </div>

{#<nav id="main-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin: 0;">#}
{#    <div class="container-fluid">#}
{#        <!-- Brand and toggle get grouped for better mobile display-->#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{##}
{#            </button>#}
{#            <a class="navbar-brand hidden-sm" href="{% url 'polls:index' %}" style="font-size: 130%;" ><span class="glyphicon glyphicon-chevron-left"></span></a>#}
{#        </div>#}
{##}
{#        <!-- Collect the nav links, forms, and other content for toggling -->#}
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                <li class="active"><a href="{% url 'polls:sort_by_time' building.id %}"><div style="display: inline-block; text-align: center;"><br class="nl"> 按发表时间排行</div></a></li>#}
{#                <li><a href="#"><div style="display: inline-block; text-align: center;"><br class="nl"> 按热度排行</div></a></li>#}
{#                <li><a href="#"><div style="display: inline-block; text-align: center;"><br class="nl"> </div></a></li>#}
{#            </ul>#}
{#        </div><!-- /.navbar-collapse -->#}
{#    </div><!-- /.container-fluid -->#}
{#</nav>#}

  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'polls:index' %}" class="breadcrumb">&nbsp;&nbsp;&nbsp;&nbsp;建筑列表</a>
        <a href="#!" class="breadcrumb">{{ building.title }}</a>
      </div>
    </div>
  </nav>

<div id="relArticles" style="width: 100%; background-color: white;">

      <div class="row">
        <blockquote>
            {{ building.title }}<br>
            <span style="color:grey;">
                {{ building.description }}
            </span>
        </blockquote>
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="{{ building.avator.url }}">
            </div>
          </div>
        </div>
        <div class="rich-content">
          {{ building.content | safe }}
        </div>
      </div>

    <div class="row">
        <div class="col s12 m6">
          {% for article, isVoted in articles %}
              <div class="card grey lighten-5">
                <a href="{%  url 'polls:article' article.id %}">
                    <div class="card-content black-text" style="padding: 10px;">
                      <p>
                          {{ article.title }}<br>
                          <blockquote style="margin-top: 3px;margin-bottom: 3px;padding-left: 3px;color: grey;">作者:{{ article.author }} {{ article.pub_time }}</blockquote>
                          {{ article.abstract }}
                      </p>
                    </div>
                </a>
                {% if building.is_after_ddl %}
                    <div class="card-action">
                        共计{{ article.votes.count }}票
                    </div>
                    {% else %}
                    <div class="card-action" id="articleDiv{{ article.id }}" style="padding: 10px;">
                    {% if isVoted %}
                        <a class="waves-effect waves-light btn red lighten-2 disabled" href="#" name="button" id="{{ article.id }}">已投票</a>
                    {% else %}
                        <a class="waves-effect waves-light btn red lighten-2 voteButton" href="#" name="button" id="{{ article.id }}">投票</a>
                    {% endif %}
                    <span class="voteNum">{{ article.votes.count }}票</span>
                </div>
              {% endif %}
              </div>

          {% endfor %}
        </div>
    </div>

{#    {% for article, isVoted in articles %}#}
{#    <div id="articleDiv{{ article.id }}" style="clear: both; padding: 3px 1.5%; margin-top: 5px; margin-bottom: 5px; background-color: cornsilk;">#}
{#        <a style="color: black; display: block; text-decoration:none;" href="{%  url 'polls:article' article.id %}">#}
{#            <div style="font-size: 90%;  margin-top: 7px; margin-bottom: 7px; padding-left: 10px;">#}
{#                作者:{{ article.author }}#}
{#            </div>#}
{#            <hr style="margin: 0;">#}
{#            <div style=" padding-bottom: 5px; margin-top: 5px;">#}
{#                <div style="font-size: 120%; margin-left: 10px;">{{ article.title }}</div>#}
{#                <div style="float: right;color: darkgray;">{{ article.pub_time }}</div>#}
{#                <hr>#}
{#                <p style="color: darkgray; clear:both; font-size: 100%;">{{ article.abstract | safe }}</p>#}
{#            </div>#}
{#        </a>#}
{#        <div class="result" style="vertical-align: baseline;">#}
{#            <input class="voteButton"  name="button" id="{{ article.id }}"#}
{#            {% if isVoted %}#}
{#                   type="button"#}
{#                   value="已投过"#}
{#                   disabled#}
{#            {% else %}#}
{#                   type="image" src="/static/img/vote.png"#}
{#                   style=" height: 25px;display: inline-block;"#}
{#            {% endif %}/><!-- 投票按钮,如果已经投过则失效 -->#}
{#            <span style="font-size: medium;">#}
{#                <span class="voteNum">{{ article.votes.count }}</span>票#}
{#            </span>#}
{#        </div>#}
{#    </div>#}
{#    {% endfor %}#}
</div>
</body>
<script>



    $(".voteButton").click(function () {
        var parent = $(this).parent();
        $.get("/polls/" + $(this).attr("id") + "/outVote",
                {}, function (txt) {
                    var tmp = '<a class="waves-effect waves-light btn red lighten-2 disabled" href="#" name="button" id="' + $(this).attr("id") + '">已投票</a><span class="voteNum">'+txt+'票</span>';
{#                    var temp = '<input type="button" value="已投过" class="voteButton"  name="button" ' +#}
{#                            'id="' + $(this).attr("id") + '"' +#}
{#                            'value="已投过"disabled/>' +#}
{#                            ' <span style="font-size: medium;"> <span class="voteNum">'+ txt +'</span>票</span>';#}
                    parent.html(tmp);
                });
    });
</script>
</html>